.card-header-danger {
    background: linear-gradient(60deg, #ef5350, #e53935);
    color: #fff;
  }
  .card-title {
    font-weight: 600;
  }
  .card-category {
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255,255,255,.8);
  }
  